recursive-include control_center/apps/compose_ui/static *
recursive-include control_center/apps/compose_ui/templates *
recursive-include control_center/libs/authentication/static *
recursive-include control_center/libs/authentication/templates *
include LICENSE.md
include README.md
exclude .gitignore
exclude Dockerfile