recursive-include control_center/apps/**/static *
recursive-include control_center/apps/**/templates *
recursive-include control_center/libs/**/static *
recursive-include control_center/libs/**/templates *
include LICENSE.md
include README.md